*{
	padding: 0;
	margin: 0; 
	font-family: "Montserrat",sans-serif;
}


.header{
	background-image: url(../assets/images/hero.gif);
	height:100vh;
	background-size: cover;
	width: 100%;
	
}
.logoWhite{
	width: 3em;
	height: 4em;
	margin-top: 2em;
	margin-left: 2em;
	margin-right: 1em;
	display: inline-block;
}
.drive{
	color:white;
	display: inline-block;
	margin-top:5em;
}

nav li{
	color:white;
	margin-left:1em; 
	list-style:none;
	display: inline-block;
	margin-top: 1em;
}
nav ul{
	float: right;
	clear: both;
	overflow: hidden;
	margin-right: 2em;
}
 nav li:last-child{
	border:0.1em solid white;
	padding: 0.5em;
	border-radius: 0.4em;
}

.imgwhite{
	background:white;
	height: 23em;
	width: 35em;
	margin-left: 13em;
	margin-top: 5em;
}

.turn{
	color:#2B1E66;
	font-size: 30px;
	text-transform: uppercase;
	padding-top: 1em;
	padding-left: 2em;
	padding-right: 8em;
	font-weight: bolder;
}
.signUp{
	color:#2B1E66;
	font-size: 15px;
	text-align: justify;
	text-transform: uppercase;
	padding-left: 4em;
	padding-right: 1em;
}
.phoneNumber{
	color: #D3D3D3;
	font-size:15px;
	padding-top: 1em;
	text-align: normal;
	padding-left: 4em;
}
.line1{
	width: 310px;
	margin-left: 4em;
}
.btn1{
	
	background-color:#FF00BF;
	color:white; 
	font-size: 12px;
	border-radius: 0.5em; 
	width: 9em;
	height: 3.7em;
	margin-left: 4em; 
	position: absolute;
	text-align: center;
	padding: 0.1em;
}
.toRide{
	margin-left: 12em;
	position: absolute;
	padding-top: 1em;
	color: #D3D3D3;
	text-decoration: underline;
}
.already{
	margin-left: 4em;
	padding-top: 1em;
	font-size: 11px;
	margin-top: 5em;
	margin-right: 17em;
	padding-top: 1em;
	color:#C0C0C0;
}
#gradiante{
	background:linear-gradient(#76278F, #2B1E66);
	 /*altura provisorio, sacar al meter elementos en esta seccion*/
	background-size: cover;
	height: 100vh;
	width: 100%;
}
#phone {
	position: absolute;
	margin-left: 9em;
	margin-top: 2em;
	height: 29em;
	width:25em;
}
.ride1{
	text-transform: uppercase;
	font-size: 25px;
	color:white;
	position: relative;
	left: 20px;
	margin-left: 80px;
	margin-top: 5em;
	display: inline-block;
	padding-right: 30px;
}
.request{
	font-size:13px;
	color:white;
	position: relative;
	margin-left: 100px;
	margin-bottom: 40px;
	margin-top: 20px;
	width: 380px;
	
}
.serious{
	font-size: 25px;
	text-transform: uppercase;
	color:white;
	position: relative;
	margin-left: 100px;
	
}
.knowing{
	font-size: 14px;
	color:white;
	position: relative;
	margin-left: 100px;
	margin-bottom: 40px;
	margin-top: 20px;
	width: 400px;

}
.happy{
	font-size: 40px;
	text-transform: uppercase;
	font-size: 25px;
	color:white;
	position: relative;
	margin-left: 100px;
	width: 270px;
}
.ride2{
	padding-top: 20px;
	font-size: 13px;
	color:white;
	position: relative;
	margin-left: 100px;
	width: 390px;
}
.parrafo1 {
	font-size:18px;
	margin-left: 55px;
	margin-top: 20px;
	display: inline-block;

}
.parrafo2 {
	font-size:18px;
	margin-left: 55px;
	margin-top: 20px;
	display: inline-block;
}

.parrafo3 {
	font-size:18px;
	margin-left: 55px;
	margin-top: 20px;
	display: inline-block;

}
footer{
	background-color: #333447;
	
}
h5{
	text-transform: uppercase;
	color: white;
	margin-left: 2em;
}
.listLink li {
	margin-top: 2em;
	margin-left: 2em;
	list-style: none;
	

}
a{
	color: white;
}
.apple {
	width: 10em;
	height:3em;
	margin-bottom: 1em;
	margin-top: 4em;

	
}
.google {
	width: 10em;
	height:3em;
	display: block;
	margin-bottom: 1em;
}
.microsoft {
	width: 10em;
	height:3em;
	margin-bottom: 1em;
}
.line{
	color: white;
	width: 20em;
}
.copyright{

	color: white;
}